<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <title>Hello, world!</title>
    <style>
     
     
    </style>
  </head>
  <body>
    
    <header class="my-2 bg-ligth rounded-3">
      <div class="container-fluid ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quae perferendis aliquid distinctio perspiciatis, unde facilis veniam quis in quam eaque laborum nemo dolore quo nulla quasi ea officiis tempore deserunt animi voluptatum cumque enim magnam. Molestias, suscipit animi? Nobis quisquam quam itaque voluptates impedit ut rem iure eligendi optio a in assumenda soluta distinctio, hic quaerat. Voluptatibus error soluta in eos quam, necessitatibus delectus nulla, aliquid exercitationem molestiae optio accusantium atque fugiat assumenda repellat et. Omnis magni officiis quam repellat eum pariatur distinctio amet ad eos dignissimos animi minus ullam porro minima, nemo obcaecati dolorem, corrupti accusantium sed? Architecto!
        <div class="d-flex align-items-center">
          <img class=" bg-image" src="{{ post.image.url }}" alt="">
        </div>
      </div>

    </header>

    <section>
      <div class="container">
        <div class="row">
          <h5 class="card-title">{{ post.title }}</h5>
          <h5 class="card-title">{{ post.intro }}</h5>
        </div>
      </div>
    </section>

   

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
